.footer {
    background-color:#16425B;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h4 {
    margin-bottom: 1rem;
    font-size: 18px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 0.65rem;
}

.footer ul li a {
    color: #dcdcdc;
    text-decoration: none;
}

.footer ul li a:hover{
    color:#fff;
}

.footer-contact p {
    margin: 0.65rem 0;
    color :#dcdcdc;
}

.footer-social a {
    color: #dcdcdc;
    text-decoration: none;
    margin-right: 0.65rem;
}

.footer-social a:hover {
    color: #fff;
    text-decoration: underline;
}