.dashboard {
    min-height: 75vh;
    width: 80%;
    padding:3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 auto;
}

.jobform{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    gap:1rem;
    text-align: left;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.477);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.postedMsg{
    font-size: 1rem;
    color: green;
    display: none;
}

.posts{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.jobCard{
    background-color: #ffffffbb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*
.jobCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
*/

.lastDate{
    display: flex;
    gap:3rem;
}

.nav-link .new{
    color: black;
}

@media (max-width:768px) {
    .dashboard{
        width: 100%;
        padding: 1rem;
    }
}
