.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.internDetailsContainer {
    margin:1rem;
    padding: 2rem;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#ffffffbb;
}

.internDetailsContainer h2 {
    margin:1rem;
    font-weight: 600;
    text-align: center;
    color:#16425B;
}

.internDetailsContainer span {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    color: #666;
}

.internDetailsContainer p {
    margin:1rem;
}

.internDetailsContainer .btn {
    display: block;
    margin:1rem;
}
