.internDetailsContainer {
    padding: 20px;
}

.internDetailsContainer h2 {
    margin-bottom: 10px;
}

.internDetailsContainer span {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    color: #666;
}

.internDetailsContainer p {
    margin-bottom: 10px;
}

.internDetailsContainer .btn {
    display: block;
    margin-top: 20px;
}
